<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag 'jquery-ui'.to_sym %>
  <%= stylesheet_link_tag 'jquery-ui'.to_sym %>
  <%= date_time_picker_assets %>
</head>
<body>
<%= yield %>
</body>
</html>
